@import "tailwindcss";

@font-face {
  font-family: 'yekanbakh';
  src: url("./assets/fonts/YekanBakh-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  
}

@font-face {
  font-family: 'yekanbakh';
  src: url("./assets/fonts/YekanBakh-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
  
}

html,body {
  color-scheme: dark;
  scroll-behavior: smooth;
  font-family: 'yekanbakh', sans-serif !important;
}

body {
  background-color: #101010;
}

header {
  z-index: 99999999 !important;
}

.icopyi {
  font-family: sans-serif;
}


/* Shiny Text CSS */

.shiny-text {
  color: #b5b5b5a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgb(62, 18, 255) 40%,
    rgb(255, 255, 255) 50%,
    rgb(62, 18, 255) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
